@font-face{
    font-family: Eurostile;
    src: url(eurostile.TTF);
}

*{
  font-family: Eurostile;
  text-align: center;
}

body{
    animation: body 7s infinite;
    -webkit-animation: body 7s infinite;
}
@keyframes body
{
  0%   {background: white;}
  25%  {background: red;}
  50%  {background: white;}
  75%  {background: red;}
  100% {background: white;}
}

h1{

    font-size: 8em;
    -webkit-animation: title-animation 7s infinite;
    -moz-animation: title-animation 7s infinite;
    -o-animation: title-animation 7s infinite;
    -ms-animation: title-animation 7s infinite;
    animation: title-animation 7s infinite;
    margin-bottom: 1%;
}

@keyframes title-animation {
  0%   {background: red;}
  25%  {background: white;}
  50%  {background: red;}
  75%  {background: white;}
  100% {background: red;}
  0%   {color: white;}
  25%  {color: red;}
  50%  {color: white;}
  75%  {color: red;}
  100% {color: white;}
}

p{
  font-size: 1.5em;
  -webkit-animation: letter-animation 7s infinite;
  -moz-animation: letter-animation 7s infinite;
  -o-animation: letter-animation 7s infinite;
  -ms-animation: letter-animation 7s infinite;
  animation: letter-animation 7s infinite;
  margin: auto;
  margin-bottom: 6%;
}
span{
  padding-right: 1%;
}

@keyframes letter-animation {
  0%   {color: red;}
  25%  {color: white;}
  50%  {color: red;}
  75%  {color: white;}
  100% {color: red;}
}

.español{
  -webkit-animation: español-animation 20s infinite;
  -moz-animation: español-animation 20s infinite;
  -o-animation: español-animation 20s infinite;
  -ms-animation: español-animation 20s infinite;
  animation: español-animation 20s infinite;
}

@keyframes español-animation {
  0%     {opacity: 1;}
  7.69%  {opacity: 0;}
  100%   {opacity: 0;}

}

.ingles{
  -webkit-animation: ingles-animation 20s infinite;
  -moz-animation: ingles-animation 20s infinite;
  -o-animation: ingles-animation 20s infinite;
  -ms-animation: ingles-animation 20s infinite;
  animation: ingles-animation 20s infinite;
}

@keyframes ingles-animation {
  0%     {opacity: 0;}
  7.69%  {opacity: 0;}
  15.38% {opacity: 1;}
  23.07% {opacity: 0;}
  100%   {opacity: 0;}

}

.frances{
  -webkit-animation: frances-animation 20s infinite;
  -moz-animation: frances-animation 20s infinite;
  -o-animation: frances-animation 20s infinite;
  -ms-animation: frances-animation 20s infinite;
  animation: frances-animation 20s infinite;
}

@keyframes frances-animation {
  0%     {opacity: 0;}
  7.69%  {opacity: 0;}
  15.38% {opacity: 0;}
  23.07% {opacity: 0;}
  30.76% {opacity: 1;}
  38.46% {opacity: 0;}
  100%   {opacity: 0;}
}

.italiano{
  -webkit-animation: italiano-animation 20s infinite;
  -moz-animation: italiano-animation 20s infinite;
  -o-animation: italiano-animation 20s infinite;
  -ms-animation: italiano-animation 20s infinite;
  animation: italiano-animation 20s infinite;
}

@keyframes italiano-animation {
  0%     {opacity: 0;}
  7.69%  {opacity: 0;}
  15.38% {opacity: 0;}
  23.07% {opacity: 0;}
  30.76% {opacity: 0;}
  38.46% {opacity: 0;}
  46.15% {opacity: 1;}
  53.84% {opacity: 0;}
  100%   {opacity: 0;}
}

.aleman{
  -webkit-animation: aleman-animation 20s infinite;
  -moz-animation: aleman-animation 20s infinite;
  -o-animation: aleman-animation 20s infinite;
  -ms-animation: aleman-animation 20s infinite;
  animation: aleman-animation 20s infinite;
}

@keyframes aleman-animation {
  0%     {opacity: 0;}
  7.69%  {opacity: 0;}
  15.38% {opacity: 0;}
  23.07% {opacity: 0;}
  30.76% {opacity: 0;}
  38.46% {opacity: 0;}
  46.15% {opacity: 0;}
  53.84% {opacity: 0;}
  61.53% {opacity: 1;}
  69.23% {opacity: 0;}
  100%   {opacity: 0;}
}

.chino{
  -webkit-animation: chino-animation 20s infinite;
  -moz-animation: chino-animation 20s infinite;
  -o-animation: chino-animation 20s infinite;
  -ms-animation: chino-animation 20s infinite;
  animation: chino-animation 20s infinite;
}

@keyframes chino-animation {
  0%     {opacity: 0;}
  7.69%  {opacity: 0;}
  15.38% {opacity: 0;}
  23.07% {opacity: 0;}
  30.76% {opacity: 0;}
  38.46% {opacity: 0;}
  46.15% {opacity: 0;}
  53.84% {opacity: 0;}
  61.53% {opacity: 0;}
  69.23% {opacity: 0;}
  76.92% {opacity: 1;}
  84.61% {opacity: 0;}
  100%   {opacity: 0;}
}

.japones{
  -webkit-animation: japones-animation 20s infinite;
  -moz-animation: japones-animation 20s infinite;
  -o-animation: japones-animation 20s infinite;
  -ms-animation: japones-animation 20s infinite;
  animation: japones-animation 20s infinite;
}

@keyframes japones-animation {
  0%     {opacity: 0;}
  7.69%  {opacity: 0;}
  15.38% {opacity: 0;}
  23.07% {opacity: 0;}
  30.76% {opacity: 0;}
  38.46% {opacity: 0;}
  46.15% {opacity: 0;}
  53.84% {opacity: 0;}
  61.53% {opacity: 0;}
  69.23% {opacity: 0;}
  76.92% {opacity: 0;}
  84.61% {opacity: 0;}
  92.30% {opacity: 1;}
  100%   {opacity: 0;}
}

#lds-roller {
    display: inline-block;
    position: static;
    width: 80px;
    height: 80px;
  }
  #lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  #lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    animation: roller-animation 7s infinite;
    -webkit-animation: roller-animation 7s infinite;
    margin: -4px 0 0 -4px;
  }
  #lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  #lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  #lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  #lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  #lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  #lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  #lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  #lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  #lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  #lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  #lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  #lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  #lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  #lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  #lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  #lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes roller-animation
{
  0%   {background: red;}
  25%  {background: white;}
  50%  {background: red;}
  75%  {background: white;}
  100% {background: red;}
}